#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.slideshow {
  display: flex;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.formCard {
  background-color: #ffffff;
  width: 500px;
  height: max-content;
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
  color: black;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}
input {
  margin-right: 20px;
}

.mintError {
  color: red;
}

img {
  height: 500px;
  width: 500px;
  margin: 25px;
}

@media screen and (max-width: 1167px) {
  #root {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .slideshow {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  img {
    height: auto;
    width: calc(100vw - 50px);
  }
}