@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* GENERALS */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #333333;
  color: #ffffff;
  font-family: 'sans-serif', Tahoma, Geneva, Verdana, 'Segoe UI';
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
h2 {
  font-family: "Chewy", system-ui;
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
}
h1 {
  font-family: "Chewy", system-ui;
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  color: #86ADB6;
  font-weight: 900;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
}
.logo {
  height: 70px;
  cursor: pointer;
}
.navTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}
.navTabs div {
  margin: 0px 10px;
  font-weight: 00;
  cursor: pointer;
}
.opensea {
  padding: 12px;
  border-radius: 10px;
  background-color: #2081E2;
  font-weight: 700;
  color: #ffffff;
}
.opensea:hover {
  background-color: #4c98e4;
}

/* MINT */
.mintPage {
  min-height: calc(100vh - 123px);
  /* background-color: #2081E2; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slideshowGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
}
.slideshow {
  display: flex;
  overflow: hidden;
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}
.slideshow img {
  width: 100%;
  max-height: calc(100vh - 176px);
  margin: 25px 0px;
  border-radius: 100px;
}
.formCard {
  background-color: #ffffff;
  width: 500px;
  height: max-content;
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #86ADB6;
}
.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 100;
}
input {
  margin-right: 20px;
}
.mintError {
  color: yellow;
  font-weight: 100;
  text-align: center;
}
.rarityChange {
  width: 100%;
  display: flex;
  justify-content: start;
  color: white;
  font-weight: 100;
  margin-bottom: 10px;
}
.thanks {
  margin-top: 10px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .mintPage {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 650px) {
  .navTabs {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
}